body {
    background: url("../img/body3.jpg");
    /* background-repeat: no-repeat; */
    background-size: contain;
}

header {
    text-align: center;
    /* color:  rgb(239, 239, 239); */

}

#wrapper {
    margin: auto;
    width: 50%;
    padding-left: 2%;
    box-sizing: border-box;
    border: solid thin black;
    background: url("../img/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    /* box-shadow: inset 0px 0px 13px 10px rgba(0,0,0,0.75); */
    /* background-color: rgb(255 157 72); */
}

.scroller {
    text-align: center;
    margin-top: 10px;
    width: 95%;
    height: 35px;
    border: solid thin black;
    margin-bottom: 10px;
    background-color: rgb(239, 239, 239);
}

.main {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgb(255 157 72);

}

.products-display {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    height: 400px;
    background-color: rgb(194, 218, 230);

}

.product {
    width: 90px;
    height: 100px;
    text-align: center;
    /* border: solid thin black; */
    border-top: none;
    backdrop-filter: blur(2px);
    box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.75);
    /* color:  rgb(239, 239, 239); */
    font-size: small;
    /* padding: 1px; */
    /* box-sizing: border-box; */
}

.product:hover {
    cursor: pointer;
}

.product img {
    margin-top: 5px;
    /* transition: all .3s ease-in-out; */
}

@keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}
.product img:hover {
    animation: bounce 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.right {
    width: 28%;
}

.screen {
    display: flex;
    margin-top: 20px;
    padding-top: 10px;
    background-color: rgb(239, 239, 239);
    height: 100px;
    border: solid thick black;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
}

#cast {
    text-align: center;
}

#totalscreen {
    z-index: 1;
    position: fixed;
    display: none;
    background-color: rgb(239, 239, 239);
    width: 165px;
    text-align: center;
}


#message {
    text-align: center;
}

.keypad {
    margin-top: 5px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    /* background-color: wheat; */
}

.keyline {
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 45px;
    height: 30px;
    font-weight: bolder;
}

button:hover {
    cursor: pointer;
}

.functionline {
    margin-top: 2px;
    display: flex;
    justify-content: space-evenly;
}

/* .functionline button {
    width: 45px;
    text-align: center;
    border-radius: 20%;
    font-size: 12px;
    margin-top: 10px;
} */

/* .okline {
    text-align: center;
    margin-top: 10px;
} */

#okbtn {
    text-align: center;
    background-image: linear-gradient(black,gray);	
    background-color: black;
    color: #fff;
}

#okbtn:hover{
	background: linear-gradient(black,white);
}

.current {
    margin-top: 20px;
    font-size: 12px;
}
/* #quantitybtn {
    width: 75px;
} */

#takeout {
    margin-top: 15px;
    border: solid thin black;
    width: 69%;
    height: 60px;
    margin-bottom: 10px;
    background-color: rgb(239, 239, 239);
    text-align: center;
}